In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score,train_test_split, KFold, cross_val_predict
from sklearn.metrics import mean_squared_error,r2_score,roc_curve,auc,precision_recall_curve, accuracy_score, \
recall_score, precision_score, confusion_matrix
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, ParameterGrid, StratifiedKFold
from sklearn.ensemble import BaggingRegressor,BaggingClassifier,AdaBoostRegressor,AdaBoostClassifier
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
import itertools as it
import time as time

In [5]:
data = pd.read_csv("data/salary_data_cleaned.csv").drop(columns = "Unnamed: 0")

In [6]:
data.head()

,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,gender,cityid,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,google,L6,Software Engineer,400000,"Sunnyvale, CA",5.0,5.0,Distributed Systems (Back-End),Male,7472,...,0,0,1,0,0,1,0,0,0,0
1,microsoft,61,Software Engineer,136000,"Redmond, WA",3.0,2.0,DevOps,Male,11521,...,0,1,0,0,0,0,0,1,0,0
2,google,L5,Software Engineer,337000,"San Bruno, CA",6.0,6.0,Full Stack,Male,7413,...,0,1,0,0,0,1,0,0,0,0
3,microsoft,62,Software Engineer,222000,"Seattle, WA",4.0,4.0,API Development (Back-End),Male,11527,...,1,0,0,0,0,1,0,0,0,0
4,blend,IC3,Software Engineer,187000,"San Francisco, CA",5.0,0.0,Full Stack,Male,7419,...,0,1,0,0,0,0,1,0,0,0

### Density Plot of Response Variable